<div class="grey-box">
  <h2>Guardian Admin Page</h2>

  <h3><%= @guardian.first_name + " " + @guardian.last_name %></h3>

  <p>Here include all admin references associated with this guardian.</p>
</div>
