<h2>Sign-up</h2>
<%= form_for(@user, url: wizard_path, method: :put) do |f| %>
  <%= f.text_field :first_name, placeholder: 'Name' %>
  <%= f.submit 'Next', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'back', previous_wizard_path %>
