/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */

// Scheme
$brand-color: #4717F6;

// Purple Scheme
$black: #4C5159;
$purple: #57BB90;
$light-purple: #4717F6;
$green: #45A58C;
$teal: #F9D116;
$orange: #FAA000;
$beige: #E7DFDD;
$grey: #A199A2;
$background-grey: #F8F8F9;

// Font-color
body {
  color: $black;
}
p {
  color: $black;
}
a {
  color: $black;
}
h1 {
  color: $black;
}
h2 {
  color: $black;
}
h3 {
  color: $black;
}
h4 {
  color: $black;
}


$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;
