<style>
  html {
    font-family: 'sans-serif';
  }
</style>

<p>
  <%= @user.first_name + " " + @user.last_name %> has unlocked their data from the BrexitHedge platform.
</p>
<p>
  Attached are documents that show their residency in the United Kingdom before the referendum to leave the European Union.
</p>
