/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.zero-text-margin p {
  margin: 0;
}
.banner{
  height: 100vh;
}

.banner-float{
  text-align: left;
  font-size: 14px;
}
.banner-strip{
  position: absolute;
  bottom: 0;
  filter: blur(1px);
}
#quotes {
  background-color: #F8F8F9;
}
.review-box {
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  p {
    font-size: 16px;
  }
}
#instructions {
  width: 100%;
  padding: 100px 0;
  background-color: #F8F8F9;
}
#instructions h4 {
  font-weight: bold;
}
.feature {
  padding: 5px 40px;
}
.feature-image {
  height: 150px;
}
#caroussel{
  width: 100%;
  height: 100vh;
  padding: 20% 0;
  background-color: #F8F8F9;
}

#comparison {
  width: 100%;
  height: 50vh;
  background-color: #4291A6;
}


.comparison-box {
  background: #F8F8F9;
  margin-top: 20px;
  margin-bottom: 20px;
  p {
    font-size: 16px;
    text-align: left;
  }
}
#registration {
  width: 100%;
  height: 50vh;
  background-color: #F8F8F9;
}
