// Core Dashboard Classes
.dashboard-box {
  margin-top: 200px;
  margin-top: -30px;
  min-height: 762px;
  height: 100%;
  background-color: #F8F8F9;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.container-box {
  width: 95%;
  margin: auto;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.grey-box {
  width: 95%;
  padding: 8px 24px;
  margin: 20px auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
}
.grey-box a {
  color: black;
}
.blue-box {
  color: white;
  background-color: #4DB3D0;
  border: 1px solid #969696;
  border-radius: 3px;
}
.detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-box h6 {
  display: none;
}
.detail {
  display: flex;
  justify-content: space-around;
}
.detail p {
  padding: 0 5px;
}
.title-margin {
  margin: 10px 40px;
}
.profile-picture-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.invisible {
  display: none;
}
.button-height-default {
  height: 36px;
  margin-bottom: 10px;
}
// Navigation Icons
.platform-box {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px 5px 20px;
}
.platform {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.platform-profile:hover {
  border: 4px solid #57BB90;
  // box-shadow: 0px 0px 25px 0px #57BB90;
}
.platform-digital:hover {
  border: 4px solid #77C9D3;
  // box-shadow: 0px 0px 25px 0px #77C9D3;
}
.platform h4 {
  font-weight: bold;
  text-align: center;
}
@media (min-width:320px) {
  .platform {
    height: 50px;
    width: 50px;
  }
  .platform i {
    font-size: 16px;
  }
  .platform h4 {
    font-size: 8px;
    margin: 2px;
  }
}
@media (min-width:481px) {
  .platform {
    height: 70px;
    width: 70px;
  }
  .platform i {
    font-size: 20px;
  }
  .platform h4 {
    font-size: 10px;
    margin: 3px;
  }
}
@media (min-width:720px) {
  .platform {
    height: 95px;
    width: 95px;
  }
  .platform i {
    font-size: 30px;
  }
  .platform h4 {
    font-size: 12px;
  }
}
@media (min-width:961px) {
  .platform {
    height: 120px;
    width: 120px;
  }
  .platform i {
    font-size: 45px;
  }
  .platform h4 {
    font-size: 13px;
    margin-top: 2px;
    max-width: 80px;
  }
}
@media (min-width:1200px) {
  .platform {
    height: 150px;
    width: 150px;
  }
  .platform i {
    font-size: 55px;
  }
  .platform h4 {
    font-size: 14px;
    margin-top: 8px;
    max-width: 100px;
  }
}
// Proof of Residency Page
#proof-image img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
