.flex-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.inner-flex {
  flex-grow: 1;
}
.form-group {
  width: 250px;
}
// Core Dashboard Classes
.dashboard-box {
  margin: 240px auto 30px auto;
  width: 95%;
}
.grey-box {
  background-color: #F8F8F9;
  padding: 8px 24px;
}
.grey-box a {
  color: black;
}
.blue-box {
  color: white;
  background-color: #4DB3D0;
  border: 1px solid #969696;
  border-radius: 3px;
}
.detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-box h6 {
  display: none;
}
.detail {
  display: flex;
  justify-content: space-around;
}
.detail p {
  padding: 0 5px;
}
.profile-picture-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-picture-inline img {
  height: 70px;
}
// Proof of Residency Page
#proof-image img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
