/* -------------------------------------
 * Additional Sign-Up Page Clases
 * ------------------------------------- */
.navbar-box {
  background: $purple;
  color: $background-grey;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 175px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  p {
    color: $background-grey;
  }
}
.sign-up-box {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  label {
    margin-top: 10px;
  }
}
.sign-up-form {
  margin: 0 auto;
}
.sign-up-title {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 25px;
}
.list-title {
  margin-bottom: 15px !important;
}
.wizard-box {
  color: $black;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  label {
    margin: 10px 0 20px 0;
    font-size: 18px;
    font-weight: lighter;
  }
  h3 {
    margin-bottom: 25px;
  }
  form {
    min-width: 800px;
  }
}
@media (max-width: 550px) {
  .wizard-box form {
    min-width: 350px;
  }
}
.wizard-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.wizard-choice-buttons {
  margin-top: 20px;
}
.wizard-button {
  background: $purple;
  border-radius: 50px;
  color: $background-grey;
  padding: 10px 30px;
}
.wizard-button:hover {
  background: $purple;
  border-radius: 50px;
  color: $background-grey;
  padding: 10px 30px;
}
.wizard-back-button {
  border: 3px solid $grey;
  color: $grey;
  border-radius: 50px;
  padding: 6px 30px;
  margin-top: 5px;
}
.wizard-back-button:hover {
  color: $black;
  text-decoration: none;
}
.question-width {
  width: 450px;
}
@media (max-width: 450px) {
  .question-width {
    width: auto;
  }
}
