<br>

<div class="container-box">
  <h2>Notes Library</h2>

  <div class="blue-box">
    <p>Here you can add notes and leave messages for those that matter to you so that...</p>
  </div>

  <% @user.notes.each do |note| %>
    <div class="col-xs-12 col-sm-6">
      <div class="alt-card">
        <div class="note-title">
            <h5><strong><%= note.title %></strong></h5>

            <h5><strong>For:</strong> <%= Assignee.find(note.assignee_id).first_name %></h5>
        </div>
        <p><%= note.content %></p>
        <p>Edit + delete buttons</p>
      </div>
    </div>
  <% end %>
</div>
