<br>

<div class="grey-box">
  <h2>Notes Library</h2>

  <div class="blue-box">
    <p>Here you can add notes and leave messages for those that matter to you so that...</p>
  </div>

  <h3>My Notes</h3>
  <% @user.notes.each do |note| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <%= cl_image_tag("document_dwvexg.jpg") %>
        <h5><%= note.title %></h5>
        <p>Edit + delete buttons</p>
      </div>
    </div>
  <% end %>
</div>
