<br>

<div class="container-box">
  <h2>Photo Library</h2>

  <div class="blue-box">
    <p>Here you can add photos and memories that...</p>
  </div>

  <% @user.photos.each do |photo| %>
    <div class="col-xs-12 col-sm-4">
      <div class="asset-card text-center">
        <%= cl_image_tag(photo.photo_seed, width: 200, height: 150) %>
        <h5><strong>For:</strong> <%= Assignee.find(photo.assignee_id).first_name %></h5>
        <div class="card-buttons">
          <%= link_to "#", class: "btn btn-info btn-default btn-ice" do %>
            View
          <% end %>
          <%= link_to "Delete", user_assignee_photo_path(current_user, photo.assignee_id, photo.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
