<br>

<div class="grey-box">
  <h2>Photo Library</h2>

  <div class="blue-box">
    <p>Here you can add photos and memories that...</p>
  </div>

  <h3>My Photos</h3>
  <% @user.photos.each do |photo| %>
    <div class="detail-box">
      <div class="detail">
        <%= photo.title %>
      </div>
    </div>
  <% end %>
</div>
