<br>

<div class="grey-box">
  <h2>Admin References</h2>

  <div class="blue-box">
    <p>Here you can administrative documents and data that...</p>
  </div>

  <h3>My References</h3>
  <% @user.references.each do |reference| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <%= cl_image_tag("document_dwvexg.jpg") %>
        <h5><%= reference.title %></h5>
        <p>Edit + delete buttons</p>
      </div>
    </div>
  <% end %>
</div>
