<br>

<div class="container-box">
  <h2>Admin References</h2>

  <div class="blue-box">
    <p>Here you can administrative documents and data that...</p>
  </div>

  <% @user.references.each do |reference| %>
    <div class="col-xs-12 col-sm-4">
      <div class="asset-card text-center">
        <%= cl_image_tag("document_dwvexg.jpg", width: 200, height: 150) %>
        <h5><strong>For:</strong> <%= Assignee.find(reference.assignee_id).first_name %></h5>
                <div class="card-buttons">
          <%= link_to "Edit", edit_user_assignee_reference_path(current_user, reference.assignee_id, reference.id), remote: true, class: "btn btn-success btn-default" %>
          <%= link_to "Delete", user_assignee_reference_path(current_user, reference.assignee_id, reference.id), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger btn-default" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
