<div class="grey-box">
  <h2>Video Library</h2>

  <div class="blue-box">
    <p>Here you can add videos and memories that...</p>
  </div>

  <h3>My Videos</h3>

    <div class="detail-box">
      <div class="detail">

      </div>
    </div>

</div>
