<div class="footer">
  <div class="footer-item">
    <h3>Site Map</h3>
    <div id="site-map">
      <div class="column-flex">
        <p>Home</p>
        <p>How it works</p>
        <p>Pricing</p>
        <p>About</p>
      </div>
      <div class="column-flex">
        <p>Contact</p>
        <p>Careers</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
      </div>
    </div>
  </div>
  <div class="footer-item" id="find-us">
    <h3>Find Us</h3>
    <p>MyWill</p>
    <p>23a South End Road</p>
    <p>London NW3 2PT</p>
  </div>
  <div class="footer-item" id="disclaimer">
    <p>MyWill is an online service that provides digital storage services through a trusted infrastructure. We are not a law firm and are not a substitute for a lawyer's advice about complex family issues.</p>
  </div>
</div>
