
<div class="sidebar">

  <h3>My Private Portal</h3>

  <h4>My Network</h4>

  <h5>Guardians</h5>
  <h5>Approvers</h5>
  <h5>Relatives</h5>

  <h4>My Data</h4>

  <h5>Digital Assets</h5>
  <h5>Administrative References</h5>
  <h5>Assets</h5>

</div>
