<div class="grey-box">
  <h2>Recipient Show Page</h2>

  <h3><%= @recipient.first_name + " " + @recipient.last_name %></h3>

  <p>Here include an overview of the main details, associated files and admin references etc. Like the profile for the user.</p>
</div>

<% content_for :sidebar do %>
  <%= render 'shared/sidebars/sidebar_show' %>
<% end %>
