<div class="grey-box">
  <h2>My Digital Assets</h2>

  <div class="blue-box">
    <p>You can pass on digital assets so that...</p>
  </div>

  <div class="row">
    <div class="col-xs-10 col-sm-6 card">
      <h3>My Data</h3>
      <hr>
      <h5>Digital Assets</h5>
      <p>100 Mb</p>
      <hr>
      <h5>Administrative References</h5>
      <p>2 Mb</p>
      <hr>
      <h5>Friends and Relatives</h5>
      <p>3 Documents</p>
    </div>
  </div>
</div>
