<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,128,0.4) 0%, rgba(0,36,51,0.4) 50%), url(<%= image_path('banner1.jpg') %>);">
  <div>
    <p>Do not let other people decide for you.</p>
    <h4>Protect your children, choose guardians</h4>
  </div>

  <div class="banner-content zero-text-margin">
    <p>Who will look after your children if you die?</p>
    <p>Strangers?</p>
    <button class="btn btn-secondary">Register your guardian</button>
    <p>Living in the UK and not a Polish citizen? What are your rights?</p>
  </div>

  <div class="banner-strip">
    <p>Polish Association Logo</p>
    <p>Child Protection Association</p>
    <p>Polish Embassy</p>
  </div>
</div>

<div class="text-center" id="quotes">
  <div class="container">
    <h4>Because your children need you...</h4>
    <p>Foreigners do not benefit from the same rights. History and recent politcal events remind us we need to protect them from the unacceptable.</p>
  </div>

  <div class="info-scroll">

  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,128,0.4) 0%, rgba(0,36,51,0.4) 50%), url(<%= image_path('banner2.jpg') %>);">
  <div class="container text-center" id="reviews">
    <h5>...you want to protect them</h5>
    <div class="row">
      <div class="review-box col-xs-12 col-sm-5">
        <p>“I did not have any family in the UK when my parents passed away. I was devastated by the news and completely lost. I stayed more than 20 weeks alone under Brithish Authorities control before being allowed to join my grand-parents in Poland. My parents had not named guardians as it is something you are never asked.“</p>
        <p>Imre</p>
      </div>

      <div class="review-box col-xs-12 col-sm-5 col-sm-offset-2">
        <p>“When my sister had a deadly accident, she was divorced from a violent husband with two sons and living in the UK. My nephews have been placed in an orphanage as there was no named guardian. I finally got custody after 4 months and a long and painful process for them.I have myself named guardians as we apply for an insurance policy.“</p>
        <p>Iva</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" id="instructions">
  <h4>How it works...</h4>

  <div class="instruction-list">
    <i>Doc + Pencil</i>
    <div class="instruction-content">
      <h4>1. Choose Guardians and Approvers</h4>
      <p>You can simply and quickly create dedicated portals for your friends and relatives.</p>
    </div>
  </div>

  <div class="instruction-list">
    <div class="instruction-content">
      <h4>2. Store your personal data online</h4>
      <p>We collect your digital-only guardian nominations. You store your will, messages and any other information or data that you would like to pass on to friends and family.</p>
    </div>
    <i>Box</i>
  </div>

  <div class="instruction-list">
    <i>Padlock</i>
    <div class="instruction-content">
      <h4>3. We protect your data and ensure authenticity</h4>
      <p>We use the latest Blockchain infrastructure for your guardian nomination and we also store your personal data through two layers of security.</p>
    </div>
  </div>

  <div class="instruction-list">
  <div class="instruction-content">
      <h4>4. We follow a strict process to release your data when the time comes</h4>
      <p>We authorise the guardians and approvers to access your legacy documents if and only if our security measures are passed.</p>
    </div>
    <i>Cogs</i>
  </div>

  <div class="instruction-list">
    <i>Magnifying Glass</i>
    <div class="instruction-content">
      <h4>5. Information is accessed securely</h4>
      <p>We then authorise guardians and approvers to access their private portal.</p>
    </div>
  </div>
</div>

<div id="comparison">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="comparison-box col-xs-12 col-sm-5">
          <h3>£20</h3>
          <h5>MyWill</h5>
          <hr>
          <ul>
            <li>Trust infrastructure: storage and authenticity</li>
            <li>Update any time</li>
            <li>Store personal messages and data (for an additional cost)</li>
          </ul>
        </div>

        <div class="comparison-box col-xs-12 col-sm-5 col-sm-offset-2">
          <h3>£200</h3>
          <h5>Average Laywer Will</h5>
          <hr>
          <ul>
            <li>Trust infrastructure: storage and authenticity</li>
            <li>Update any time</li>
            <li>Store personal messages and data (for an additional cost)</li>
          </ul>
        </div>
      </div>
    </div>
    <h5><strong>VIEW PRICING =></strong></h5>
  </div>
</div>

<div class="container text-center" id="registration">
  <h3><strong>Register your chosen Guardians today</strong></h3>
  <p>Protect your family, keep your personal data safe and share your memories</p>
  <button class="btn btn-primary">Register your nomination =></button>
</div>
