<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,128,0.4) 0%, rgba(0,36,51,0.4) 50%), url(<%= image_path('background.jpg') %>);">
  <div>
    <p>Do not let other people decide for you.</p>
    <h5>Protect your children, choose guardians</h5>
  </div>
  <div class="banner-content">
    <p>Who will look after your children if you die?</p>
    <p>Strangers?</p>
    <button class="btn btn-secondary">Register your guardian</button>
    <p>Living in the UK and not a Polish citizen? What are your rights?</p>
    <i class="fa fa-angle-down hidden-xs bounce" aria-hidden="true"></i>
  </div>
  <div class="banner-strip">
    <p>Polish Association Logo</p>
    <p>Child Protection Association</p>
    <p>Polish Embassy</p>
  </div>
</div>

<div class="shadow-card text-center hidden-sm" id="profile-box">
  <div class="list-inline" id="contact-links">
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </div>
  <h2></h2>
  <h3></h3>
  <h4></h4>
</div>

<div class="container text-center" id="profile">
  <div class="row">
    <div class="shadow-card col-xs-12 col-md-5 col-lg-8 col-xl-11">
      <h3></h3>
      <p></p>
    </div>
  </div>
</div>

<div class="container text-center" id="about-me">

</div>

<div class="container text-center" id="skills">
  <div id="technical-skills">
    <h3></h3>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>

<div id="portfolio">
  <div class="container">
    <div class="col-sm-6 col-md-4">
      <img src="" alt="">
    </div>
  </div>
</div>
