<h1>CallToActions#new</h1>
<p>Find me in app/views/call_to_actions/new.html.erb</p>

<%= simple_form_for([@user, @new_call_to_action]) do |f| %>
  <%= f.input :event %>
  <%= f.button :submit, "Confirm Call To Action" %>
<% end %>
