<div class="grey-box">
  <h2>Guardians</h2>

  <h3>My guardians</h3>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h5>Rebecca Jones</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Add</p>
      <p>Delete</p>
    </div>
  </div>

  <div class="detail-box">
    <div class="detail">
      <%= link_to '#', class: 'profile-picture-inline' do %>
        <%= image_tag("user2.png", class: "avatar-large") %>
        <h5>Betty Hall</h5>
      <% end %>
    </div>
    <div class="detail">
      <p>Add</p>
      <p>Delete</p>
    </div>
  </div>
</div>
