<div id="user-my-profile">
  <%= link_to '#', class: 'edit-profile-picture' do %>
    <%= image_tag("user.png", class: "avatar-large") %>
    <p>Edit Profile Picture</p>
  <% end %>
  <p>John Smith</p>

  <div class="profile-box">
    <h3>My Call to Action</h3>
    <div class="detail-box">
      <div class="name">
        <p>Will</p>
      </div>
      <div class="actions">
        <p>Add</p>
        <p>Delete</p>
      </div>
    </div>
    <hr>

    <h3>My Personal Details</h3>

    <hr>

    <h3>My Partner</h3>

    <hr>

    <h3>My Children</h3>

    <hr>

    <h3>Guardians</h3>

    <hr>

    <h3>Approvers</h3>

    <hr>

    <h3>Friends and Family</h3>
  </div>
</div>
