.scrollmenu {
  position: fixed;
  z-index: 1;
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  height: 150px;
  margin-top: -190px;
  background-color: #FBFDFF;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: horizontal;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(224,224,224,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(224,224,224,1);
  box-shadow: 0px 3px 5px 0px rgba(224,224,224,1);
}
.scrollmenu a {
  color: black;
  text-align: center;
  padding: 5px 10px 2px 10px;
  text-decoration: none;
}
.scrollmenu h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 7px 0 4px 0;
}
.scrollmenu h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 6px 0 4px 0;
}
.scrollmenu h6 {
  display: none;
}
.scrollbox {
  padding: 5px 10px;
  border-right: 1px solid #D2D3D4;
}
.scrollbox a {
  display: inline-block;
}
.scrollitem {
  min-width: 80px;
  text-align: center;
  display: inline-block;
}
// Scrollmenu Tabs
.scrollmenu a:hover {
  box-shadow: 1px 3px 5px 0px rgba(204,204,204,1);
}
.scrollitem.active {
  box-shadow: 1px 3px 5px 0px rgba(204,204,204,1);
}
