.include-sidebar {
  padding-left: 250px;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DBF0E7;
  overflow-x: hidden;
  margin-top: 50px;
  transition: 0.5s;
}
.sidebar a {
  padding: 3px 8px 3px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #585A5C;
  display: block;
  transition: 0.3s
}
.sidebar a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
.sidebar hr {
  margin: 2px 0;
}
.sidebar h4 {
  color: white;
}
.sidebar h5 {
  margin: 5px 0;
}
.sidebar-header {
  padding: 4px 0;
  margin: 2px 0;
  background-color: #77C9D3;
}

// Sidebar Tabs
.sidebar-tab.active {
  background-color: #015148;
  color: white;
  text-decoration: none;
  opacity: 1;
}
