/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padding-15 {
  padding: 0 15px;
}
.bottom-padding-lg {
  padding-bottom: 60px;
}

// Margins
.side-margin {
  margin: 0 30px;
}
.side-margin-small {
  margin: 0 15px;
}
.top-margin-large {
  margin-top: 50px;
}
.top-margin {
  margin-top: 30px;
}
.top-margin-small {
  margin-top: 15px;
}
.bottom-margin {
  margin-bottom: 30px;
}
.bottom-margin-large {
  margin-bottom: 80px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: $background-grey;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// White text
.white-text {
  color: $background-grey;
}
.white-heading h2 {
  color: $background-grey !important;
}

// Black text
.black-text {
  color: $black;
}
.black-links a {
  color: $black;
}

// Grey text
.grey-text {
  color: $grey;
}
.grey-links a {
  color: $grey;
}

// Text-align
.align-left {
  text-align: left;
}

// Other text classes
.lighter {
  font-weight: lighter;
}
@media (max-width: 400px) {
  .hidden-xxs {
    display: none;
  }
}

// Variable Container Sizes
.container-small, .container-large {
    max-width: 90%;
}
@media (min-width: 320px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 600px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
