<div class="container-box">
  <h3><%= @reference.title %></h3>
  <%= cl_image_tag("document_dwvexg.jpg", width: 200, height: 150) %>
  <p><%= @reference.comments %></p>
  <%= link_to "Back", user_assignee_path(@user, @reference.assignee_id) %>
</div>
