/* -------------------------------------
 * Flash notices and alerts
 * ------------------------------------- */
.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
  color: white;
}
.alert-warning {
  background: $red;
}
.close:hover {
  color: #98DBCA;
}
