/* -------------------------------------
 * Avatars and profile pictures
 * ------------------------------------- */
.avatar {
  width: 70px;
  border-radius: 50%;
}
.avatar-small {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
  margin-top: 35px;
}
.avatar-xl {
  width: 180px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
  margin: 5px 0;
}
.avatar-edit {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
}
.avatar-card {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.6);
  margin-top: 15px;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
