/* -------------------------------------
 * Cards and related classes
 * ------------------------------------- */
.card {
  height: 175px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card h6 {
  display: none;
}
.card-detail {
  margin: 10px 0;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
}
.card-buttons {
  display: flex;
  flex-direction: row;
  a {
    margin: 0 3px;
  }
  a:hover {
    color: $teal;
  }
}

// Profile Cards
.assignee-card {
  position: relative;
  height: 340px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  hr {
    border: 1px solid #EDE8E9;
    width: 85%;
    margin: 4px 0;
  }
  h4 {
    margin-top: 25px;
  }
  p {
    margin: 3px;
  }
}
.profile-warning {
  color: $orange;
  position: absolute;
  top: 10px;
  left: 15px;
}
.notice-text {
  color: #A199A2;
}
#edit-button {
  position: absolute;
  top: 10px;
  right: 15px;
}
.alt-card {
  position: relative;
  min-height: 260px;
  height: 25vh;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    border: 1px solid #EDE8E9;
    width: 85%;
    margin: 4px 0;
  }
  h4 {
    font-weight: bold;
    margin-bottom: 6px;
  }
  p {
    margin: 3px;
    font-size: 15px;
  }
}
.card-content {
  overflow-y: auto;
  width: 80%;
  color: #5C6068;
  a {
    color: #5C6068
  }
}
.orange-border {
  border: 4px solid $orange;
}
.small-orange-border {
  border: 2px solid $orange;
  margin: 2px 0;
}
.warning-circle {
  position: absolute;
  font-size: 20px;
  color: $orange;
  top: 6px;
  right: 6px;
}
.question-circle {
  position: absolute;
  font-size: 20px;
  color: $black;
  top: 6px;
  right: 6px;
}

// Asset Cards
.asset-card {
  height: 240px;
  margin: 20px 0;
  padding-top: 10px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.note-card {
  position: relative;
  height: 280px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: $background-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    border: 1px solid #EDE8E9;
    width: 85%;
    margin: 4px 0;
  }
}
.note-title {
  text-align: center;
  h4 {
    margin-top: 25px;
  }
  h5 {
    margin-top: 6px;
  }
}
@media (max-width: 500px) {
  .note-title {
    margin-top: 10px;
  }
}
.note-spacing {
  min-height: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
}
.photo-card {
  position: relative;
  height: 300px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: $background-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    border: 1px solid #EDE8E9;
    width: 85%;
    margin: 4px 0;
  }
}
.card-buttons {
  position: absolute;
  top: 8px;
  right: 12px;
  a {
    color: grey;
    font-size: 18px;
    margin: 0 5px;
  }
}
.note-form {
  width: 90%;
  padding: 5px 5px 12px 5px;
  margin-top: 10px;
}
.document-card {
  position: relative;
  height: 310px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
  border-radius: 2px;
  background-size: cover !important;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    border: 1px solid #EDE8E9;
    width: 85%;
    margin: 4px 0;
  }
}
.proof-spacing {
  height: 90%;
  width: 90%;
  padding: 0 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .proof-spacing {
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
  }
}
@media (max-width: 500px) {
  .details-box {
    margin-left: 0 !important;
  }
}
.submit-button {
  margin: 10px auto;
}
.margin-left {
  margin-left: 30px;
}
.proof-comments {
  max-height: 150px;
  overflow-y: auto;
}
