.scrollmenu-wrapper {
  z-index: -2;
  position: absolute;
  height: 160px;
  width: 100%;
  max-width: 100%;
  // margin-top: 50px;
  background-color: $background-grey;
  background-size: cover;
}
.scrollmenu {
  z-index: 5;
  height: 160px;
  margin-top: 60px;
  min-width: 100%;
  // width: -moz-calc(100% - 250px);
  // width: -webkit-calc(100% - 250px);
  // width: calc(100% - 250px);
  // margin-top: -150px;
  background-color: $background-grey;
  color: $black;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  // justify-content: center;
  align-items: horizontal;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(224,224,224,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(224,224,224,1);
  box-shadow: 0px 3px 0px 0px rgba(224,224,224,1);
}
@media (min-width: 1250px) {
  .scrollmenu {
    border-bottom: medium solid $purple;
  }
}
.scrollmenu a {
  color: $black;
  text-align: center;
  padding: 0 10px 0 10px;
  text-decoration: none;
}
.scrollmenu img {
  border-radius: 55%;
  padding: -10px;
  height: 70px;
  width: 70px;
}
.scrollmenu i {
  color: $grey;
}
.scrollmenu hr {
  max-height: 90%;
}
.scrollmenu h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 7px 0 6px 0;
}
.scrollmenu h4 {
  color: #A199A2;
  font-size: 14px;
  margin: 8px 0 4px 0;
}
.scrollmenu h6 {
  display: none;
}
.scrolltitle {
  display: flex;
  justify-content: space-between;
}
.add-icon {
  position: relative;
  margin-top: 4px;
  i:hover {
    color: $purple;
  }
}
.scrollbox {
  padding: 5px 10px;
  margin-top: 8px;
  border-right: 1px solid #D2D3D4;
}
#home-scrollbox {
  border-left: 1px solid #D2D3D4;
}
.scrollmenu-link:hover {
  text-decoration: underline;
}
.scrollbox a {
  display: inline-block;
}
.scrollitem {
  min-width: 101px;
  text-align: center;
  display: inline-block;
}
.digital-asset {
  width: 120px;
}
.menu-icon {
  font-size: 40px;
  margin: 4px auto 3px auto;
  width: 66px;
  height: 66px;
  border: 2px solid #D7D7D7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeholder {
  background: #D7D7D7;
}
#proof-menu-icon {
  font-size: 38px;
  margin-left: 2px;
}
#note-menu-icon {
  margin-top: 3px;
  margin-left: 6px;
}
// Scrollmenu Tabs
.scrollmenu a:hover {
  img {
    box-shadow: 0px 0px 20px 0px $teal;
  }
  .menu-icon {
    box-shadow: 0px 0px 20px 0px $teal;
  }
}
.scrollmenu.active {
}
.scrollitem.active {
  h4 {
    color: $teal;
  }
  img {
    border: 4px solid $teal;

  }
  .menu-icon {
    border: 4px solid $teal;

  }
}
