/* -------------------------------------
 * Tooltip
 * ------------------------------------- */
// .tooltip {
//   position: relative;
//   display: inline-block;
// }
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.warning-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 30px;
  right: 5px;
}
.warning-circle:hover {
  color: #FAB12E;
  .warning-tooltip {
    visibility: visible;
  }
}

.question-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 30px;
  right: 5px;
}
.question-circle:hover {
  color: $grey;
  .question-tooltip {
    visibility: visible;
  }
}

.add-tooltip {
  visibility: hidden;
  width: 110px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -2px;
  right: 30px;
}
.add-icon:hover .add-tooltip {
  visibility: visible;
}

.card-tooltip {
  visibility: hidden;
  width: 110px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
}

.profile-card-link:hover .card-tooltip {
  visibility: visible;
}

.info-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 30px;
  right: -180px;
}
.card-info:hover {
  color: $grey;
  cursor: pointer;
  .info-tooltip {
    visibility: visible;
  }
}
