<div class="grey-box">
  <h2>Approver Admin Page</h2>

  <h3><%= @approver.first_name + " " + @approver.last_name %></h3>

  <p>Here include all admin references associated with this approver.</p>
</div>
